<div class="union-platform-front">
{% if image %}
  <div class="up-front-logo">
    {{ image }}
  </div>
{% endif %}
  <h1 class="up-front-name">{{ name }}</h1>
{% if text %}
  <div class="up-front-text">
    {{ text }}
  </div>
{% endif %}
</div>
